/* nav bar setting*/
.nav{
    display: inline-flex;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    border-style: solid;
    border-color: blue;
    
}
/* nav bar*/
.logo{
    height: 150px;
    width: 150px;
    margin-top: 250;
}
.name{
    margin-right: 100px;
    margin-left: 450px;
    margin-bottom: 100px;
    color: aliceblue;
}
.servise{
    margin-left: 200px;
    display: inline-flex;
    color: aliceblue;
}
/* body color*/
body
{
    background-color: black;
    border-style: solid;
    border-color: blue;
}
/* partie1 css*/
#s1{
    width: 2000px;
    height: 2000px;
    display: inline;
    color:  blue;
    padding-left: 500px;
}
/*partie 2 css*/
#s2{
    height: 100px;
    width: 100px;
    display: inline;
}
/* partie 3 css*/
#s3{
    table-layout: initial;
    border-style:solid;
    border-width: 10px;
    border-color: blue;
    color: aliceblue;
}
/* color h2*/
h1{
    color: blue;
}
/* article color*/
article{
    color:blue;
}
/* footer */
p{
    color: blue;
}